body{
    background-image: url("LightWeight.jpg");
    background-size: 100vh;
    display: flex;
    height: 90vh;
    object-fit: contain;
    background-size: contain;
    justify-content: center;
    align-items: center;

}




h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
}

.boton{
    color: white;
    background-color: black;
    border: none;
    width: 100px;
    height: 50px;
    margin-top: 2.5rem;
    border-radius: 10px;
    transition: all 400ms ease;
}

input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px bolder; 
    background-color: #cccccc;
    
}
.pagina{
    justify-content: center;
    align-items: center;
    display: flex;
}
.contenedor{
    background-color: #cccccc;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    margin-top: 10px;
    gap: 2rem;
    
}

